$background-light: #f5f1ed;
$background-dark: #2b5876;

$bg-card: #ffffff;

$primary1: #5b33e3;
$primary1-hover: #8e6ff9;

$primary2: #70ddc3;

$text-color: #333333;
$text-color-light: #f5f1ed;

$grad-1: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
$grad-1-neg: linear-gradient( -135deg, #43CBFF 10%, #9708CC 100%);
$grad-2: linear-gradient(130deg, #fa709a 0%, #fee140 100%);
$grad-3: linear-gradient(90deg, #003b58, #2b5876);

$corner-radius: 3px;
$button-height: 4rem;
$icon-height: 3.2rem;

$font-family: 'Brandon', sans-serif;
$font-family: 'Barlow', sans-serif;
$font-mono: 'Roboto Mono', monospace;

$max-width-article: 1350px;

/* THEMEN */

$soziales: #db4453;
$soziales-h: #f15b66;

$aussen: #ff8000;
$aussen-h: #ff9627;

$bildung: #5d9cec;
$bildung-h: #72b1ff;

$digitales: #967bdc;
$digitales-h: #a88ff2;

$einwanderung: #79a1ad;
$einwanderung-h: #8eb7c3;

$gesellschaft: #d870ad;
$gesellschaft-h: #ed85c3;

$gesundheit: #36bc9b;
$gesundheit-h: #4dd3b2;

$infrastruktur: #455c7b;
$infrastruktur-h: #566f8f;

$inneres: #ff8066;
$inneres-h: #ff9579;

$sicherheit: #4fc0e8;
$sicherheit-h: #6ad7ff;

$umwelt: #8cc051;
$umwelt-h: #9ed566;

$wirtschaft: #f6bb43;
$wirtschaft-h: #ffd15b;